pkgbase = lnos-tty
	pkgdesc = Essential CLI tools, editors, and minimal KDE Plasma Wayland for LnOS Arch Edition.
	pkgver = 1.1.0
	pkgrel = 9
	url = https://github.com/rcghpge/tty
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = btop
	depends = tldr
	depends = fastfetch
	depends = bash
	depends = emacs
	depends = vim
	depends = neovim
	depends = texinfo
	depends = plasma-desktop
	depends = plasma-wayland-protocols
	depends = kwin
	depends = sddm
	depends = sddm-kcm
	depends = qt6-wayland
	depends = layer-shell-qt
	depends = xorg-xwayland
	depends = konsole
	depends = lynx
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = pipewire-audio
	depends = wireplumber
	depends = plasma-pa
	depends = sof-firmware
	depends = spectacle
	depends = gwenview
	depends = kinfocenter
	depends = bluez
	depends = bluez-utils
	depends = bat
	optdepends = plasma-integration: Qt application integration
	source = bashrc
	source = sddm-wayland.conf
	sha256sums = f6d4fc41d8d3259f23f60bfe1d4952954061916b1ce3b0c8fdf3cd55852e90e6
	sha256sums = 88b64066085c4d60a4c80327e662bb90c104080a81059955808917b87dc003b2

pkgname = lnos-tty
